<div class="background pt-5 pb-5">

  <div class="container">
    <div class="row">
      <div class="col-4 d-flex flex-column align-items-center ">
        <img src="../../assets/images/stop-watch.png">
        <p class="title">
          24/7 Customer Care
        </p>
        <p class="w-100 text-center">
          Lorem Ipsum is simply dummy text of the printing.Lorem Ipsum is simply dummy text of the printing.
        </p>
      </div>
      <div class="col-4 d-flex flex-column align-items-center">
        <img src="../../assets/images/tickmark.png">
        <p class="title">
          Easy Booking
        </p>
        <p class="w-100 text-center">
          Lorem Ipsum is simply dummy text of the printing.Lorem Ipsum is simply dummy text of the printing.
        </p>
      </div>
      <div class="col-4 d-flex flex-column align-items-center">
        <img src="../../assets/images/dollar.png">
        <p class="title">
          Best Price Guranteed
        </p>
        <p class="w-100 text-center">
          Lorem Ipsum is simply dummy text of the printing.Lorem Ipsum is simply dummy text of the printing.
        </p>
      </div>
    </div>

  </div>
</div>