<div class = "container">
<div class = "row">
  <div class = "col-5">
      <img src="../../assets/images/proto.jpg">
  </div>
  <div class = "col-7">
    <h2>Welcome to Our Logistics</h2>
    <div class = "color-bar mt-4 mb-4"></div>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum, neque aliquam. Vel doloremque voluptatibus aperiam architecto nostrum asperiores nisi suscipit ex fugiat omnis, consequuntur non fuga ipsam laudantium recusandae tempora. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam voluptas, illo, architecto repellendus, accusantium dolorem dolore autem est officia itaque, corrupti obcaecati! Atque, dolor alias labore id minima aliquam, eos.
    </p>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae soluta, sed, reiciendis saepe facere quo vel repellendus autem consequuntur voluptates fugit adipisci asperiores odit, provident veniam cum iste id similique!
    </p>
  </div>


</div>
</div>