<div class="container">
  <div class="d-flex flex-column align-items-center">
    <h1>Our Logistic Service</h1>
    <p class="w-100 text-center pt-2">
      Lorem Ipsum is simply dummy text of the printing.Lorem Ipsum is simply dummy text of the printing.
    </p>
    <div class="color-bar mt-2 mb-5"></div>
  </div>
  <div class="row">
    <div class="col-4">
      <img class="" src="../../assets/images/info1.jpg">
      <p class="info mt-4">Sea Freight </p>
      <p>Lorem ipsum dolor sit amet marlan consectetur adipiscing elit.</p>
    </div>
    <div class="col-4">
      <img src="../../assets/images/info2.jpg">
      <p class="info mt-4">Road Transport </p>
      <p>Lorem ipsum dolor sit amet marlan consectetur adipiscing elit.</p>
    </div>
    <div class="col-4">
      <img src="../../assets/images/info3.jpg">
      <p class="info mt-4">Air Freight </p>
      <p>Lorem ipsum dolor sit amet marlan consectetur adipiscing elit.</p>

    </div>
  </div>
</div>